Junyu Sui Js6130

In [1]:
/ load and clean data

\l /Users/suijunyu/Desktop/5440/columbiaHdb

time: 2019.01.03
tbl: select from bin10 where date = time
tbl: select from bin10 where date = time;
         tbl: update reverse fills reverse date,
            reverse fills reverse mid,
            reverse fills reverse spread,
            reverse fills reverse vol,
            reverse fills reverse adv
            by id from tbl;
tbl

date       time     id trade     mid      spread       vol         adv
-------------------------------------------------------------------------------
2019.01.03 09:30:00 0  454071.8  91.715   0.001148717  0.000446367 1.122415e+08
2019.01.03 09:30:10 0  -171833.3 91.72671 0.001072136  0.000446367 1.122415e+08
2019.01.03 09:30:20 0  -301.2193 91.58853 7.658112e-05 0.000446367 1.122415e+08
2019.01.03 09:30:30 0  -78884.65 91.65646 0.000612649  0.000446367 1.122415e+08
2019.01.03 09:30:40 0  -24705.54 91.60259 0.0008423923 0.000446367 1.122415e+08
2019.01.03 09:30:50 0  -92166.19 91.58385 0.0005871219 0.000446367 1.122415e+08
2019.01.03 09:31:00 0  -22823.01 91.56276 0.000663703  0.000446367 1.122415e+08
2019.01.03 09:31:10 0  -4940.182 91.59088 0.0005615949 0.000446367 1.122415e+08
2019.01.03 09:31:20 0  -41691.88 91.59322 0.0005360678 0.000446367 1.122415e+08
2019.01.03 09:31:30 0  -539826.4 91.60727 0.0007402842 0.000446367 1.122415e+08
2019.01.03 09:31:40 0  -53883.89 91.5487  0.0004594867 0.000446367 1.122415e+08
2019.01.03 09:31:50 0  316896.2  91.56745 0.0003063245 0.000446367 1.122415e+08
2019.01.03 09:32:00 0  8767.784  91.82033 0.0004594867 0.000446367 1.122415e+08
2019.01.03 09:32:10 0  132407.8  91.84138 0.000638176  0.000446367 1.122415e+08
2019.01.03 09:32:20 0  -52051.64 92.02614 0.0005615949 0.000446367 1.122415e+08
2019.01.03 09:32:30 0  441082.8  92.01445 0.0004339597 0.000446367 1.122415e+08
2019.01.03 09:32:40 0  -182.6154 92.23874 0.000638176  0.000446367 1.122415e+08
2019.01.03 09:32:50 0  4196.414  92.18269 0.0002807974 0.000446367 1.122415e+08
2019.01.03 09:33:00 0  112899.5  92.36479 0.0007402842 0.000446367 1.122415e+08
2019.01.03 09:33:10 0  -51038.96 92.27376 0.000612649  0.000446367 1.122415e+08
..

## EXERCISE 1：Creating Synthetic Trades

### 1.1 1.2 1.3

In [2]:
/1.1 TWAP return an array which each trade is average of total trade
TWAP: {[trade; adv; size]
        c: count trade;
        :c#size % c}

/1.2 VWAP return an array which the quantity of each trade depends on their propotion of total trade
VWAP: {[trade; adv; size]
        speed: abs trade % sum abs trade;
        :speed * size}

/1.3 
/PoV return an array with trade depends on the when we stopped our trade(the point which satisfy participation rate)
PoV: {[trade; adv; size]
       t: 0.1 * abs trade; /set participation rate as 10%
       num: (sum((+\)t)<size);
       order: (count trade)# 0.0;
       (order til num): t til num; 
       (order num): size - sum order;
       :order;}
/ In order, the first num is the trade before stopping time, order[num] is how much which we still need to trade, 
/ other[num+1:] are zero.

### 1.4

In [3]:
initial_size: 1000000

/1.4 Implement three schedule for stock = 0 
tbl0: select time, id,
             TWAP: TWAP[trade;adv;initial_size],
             VWAP: VWAP[trade;adv;initial_size],
             PoV: PoV[trade;adv;initial_size]
             from tbl where id = 0

tbl0

time     id TWAP     VWAP     PoV
--------------------------------------
09:30:00 0  427.1679 4045.49  45407.18
09:30:10 0  427.1679 1530.925 17183.33
09:30:20 0  427.1679 2.683672 30.12193
09:30:30 0  427.1679 702.8119 7888.465
09:30:40 0  427.1679 220.1106 2470.554
09:30:50 0  427.1679 821.142  9216.619
09:31:00 0  427.1679 203.3384 2282.301
09:31:10 0  427.1679 44.01387 494.0182
09:31:20 0  427.1679 371.448  4169.188
09:31:30 0  427.1679 4809.508 53982.64
09:31:40 0  427.1679 480.071  5388.389
09:31:50 0  427.1679 2823.343 31689.62
09:32:00 0  427.1679 78.11536 876.7784
09:32:10 0  427.1679 1179.669 13240.78
09:32:20 0  427.1679 463.7469 5205.164
09:32:30 0  427.1679 3929.767 44108.28
09:32:40 0  427.1679 1.626987 18.26154
09:32:50 0  427.1679 37.38737 419.6414
09:33:00 0  427.1679 1005.862 11289.95
09:33:10 0  427.1679 454.7246 5103.896
..

### 1.5

In [5]:
/1.5 Set size = 10% of adv, and implement three schedule for the same stock: id = 0
tbl0_2: select time, id,
             TWAP: TWAP[trade; adv; first 0.1*adv],
             VWAP: VWAP[trade; adv; first 0.1*adv],
             PoV: PoV[trade ; adv; first 0.1*adv]
             from tbl where id = 0

tbl0_2

time     id TWAP     VWAP     PoV
--------------------------------------
09:30:00 0  4794.596 45407.18 45407.18
09:30:10 0  4794.596 17183.33 17183.33
09:30:20 0  4794.596 30.12193 30.12193
09:30:30 0  4794.596 7888.465 7888.465
09:30:40 0  4794.596 2470.554 2470.554
09:30:50 0  4794.596 9216.619 9216.619
09:31:00 0  4794.596 2282.301 2282.301
09:31:10 0  4794.596 494.0182 494.0182
09:31:20 0  4794.596 4169.188 4169.188
09:31:30 0  4794.596 53982.64 53982.64
09:31:40 0  4794.596 5388.389 5388.389
09:31:50 0  4794.596 31689.62 31689.62
09:32:00 0  4794.596 876.7784 876.7784
09:32:10 0  4794.596 13240.78 13240.78
09:32:20 0  4794.596 5205.164 5205.164
09:32:30 0  4794.596 44108.28 44108.28
09:32:40 0  4794.596 18.26154 18.26154
09:32:50 0  4794.596 419.6414 419.6414
09:33:00 0  4794.596 11289.95 11289.95
09:33:10 0  4794.596 5103.896 5103.896
..

## EXERCISE 2 ：Backtesting Trading Schedules

In [6]:
/lambda is 0.8 and h is 60
h: 60
computeImpact: {[trade; adv; vol; h] 
                beta: (log 2) % (h*6);
                lamda: 0.8;
                dvol: vol * sqrt 2340;
                :(neg count trade)#ema[beta; (0, lamda * dvol * trade % (beta * adv))];}

### 2.1 2.2  2.3

In [7]:
/ Calculate the trade of three strategies
order_tbl: update TWAP_10: TWAP[trade; adv; first 0.1*adv], 
                  TWAP_20: TWAP[trade; adv; first 0.2*adv], 
                  VWAP_10: VWAP[trade; adv; first 0.1*adv] by id from tbl

/ Calculate the impact of three strategies
impact_tbl: update I_TWAP_10: computeImpact[TWAP_10; adv; vol; h],
                   I_TWAP_20: computeImpact[TWAP_20; adv; vol; h],
                   I_VWAP_10: computeImpact[VWAP_10; adv; vol; h] by id from order_tbl

/ Calculate the adj price of three strategies
/ remove the impact of TWAP_10
price_tbl: update adj_p: mid - I_TWAP_10,
                  P_TWAP_10: mid by id from impact_tbl 

/ add the impact of TWAP_20 and VWAP_10
price_tbl: update P_TWAP_20: adj_p + I_TWAP_20,
                  P_VWAP_10: adj_p + I_VWAP_10 by id from price_tbl

In [8]:
select time, id, adj_p, P_TWAP_10, P_TWAP_20, P_VWAP_10 from price_tbl

time     id adj_p    P_TWAP_10 P_TWAP_20 P_VWAP_10
--------------------------------------------------
09:30:00 0  91.715   91.715    91.715    91.71501
09:30:10 0  91.7267  91.72671  91.72671  91.72671
09:30:20 0  91.58853 91.58853  91.58854  91.58854
09:30:30 0  91.65646 91.65646  91.65646  91.65647
09:30:40 0  91.60259 91.60259  91.60259  91.6026
09:30:50 0  91.58384 91.58385  91.58385  91.58386
09:31:00 0  91.56276 91.56276  91.56277  91.56277
09:31:10 0  91.59087 91.59088  91.59088  91.59088
09:31:20 0  91.59321 91.59322  91.59323  91.59323
09:31:30 0  91.60727 91.60727  91.60728  91.60729
09:31:40 0  91.5487  91.5487   91.54871  91.54872
09:31:50 0  91.56744 91.56745  91.56746  91.56747
09:32:00 0  91.82032 91.82033  91.82034  91.82034
09:32:10 0  91.84137 91.84138  91.8414   91.8414
09:32:20 0  92.02612 92.02614  92.02615  92.02615
09:32:30 0  92.01444 92.01445  92.01446  92.01447
09:32:40 0  92.23872 92.23874  92.23875  92.23876
09:32:50 0  92.18267 92.18269  92.1827   92.18271
09:33:00 0  92.36477 92.36479  92.3648   92.36481
09:33:10 0  92.27374 92.27376  92.27377  92.27378
..

### 2.4

Average impact costs (IC): for each stock,
$$ 
\begin{align}
Impact Cost &= \sum_{N} (P_{n-1} + 1/2\Delta_{n}I - S_{n-1}) * \Delta_nQ\\
            &= \sum_{N} (I_{n-1} + 1/2\Delta_{n}I) * \Delta_nQ\\
            &= \sum_{N} (I_{n} - 1/2\Delta_{n}I) * \Delta_nQ
\end{align}
$$
Here dQ is trade: TWAP_10, TWAP_20, VWAP_10

In [10]:
IC_tbl: update IC_TWAP_10: sum (I_TWAP_10 - 0.5 * deltas I_TWAP_10) * TWAP_10,
               IC_TWAP_20: sum (I_TWAP_20 - 0.5 * deltas I_TWAP_20) * TWAP_20,
               IC_VWAP_10: sum (I_VWAP_10 - 0.5 * deltas I_VWAP_10) * VWAP_10 
               by id from price_tbl

select first IC_TWAP_10, first IC_TWAP_20, first IC_VWAP_10 by id from IC_tbl

id| IC_TWAP_10 IC_TWAP_20 IC_VWAP_10
--| --------------------------------
0 | 3358.556   13434.22   3348.143
1 | 866.2969   3465.188   816.4247
2 | 448.7954   1795.182   445.82
3 | 373.1717   1492.687   371.5399
4 | 495.8016   1983.206   495.4129
5 | 274.6778   1098.711   271.5745
6 | 570.7353   2282.941   547.8297
7 | 280.9141   1123.656   273.6042
8 | 1734.307   6937.226   1727.165
9 | 832.5135   3330.054   801.4711
10| 4133.659   16534.64   4031.517
11| 1504.23    6016.919   1472.007
12| 768.962    3075.848   748.9827
13| 492.3011   1969.204   506.1516
14| 33873.33   135493.3   32622.74
15| 1823.753   7295.013   1799.466
16| 12035.47   48141.88   11392.23
17| 370.1577   1480.631   344.0359
18| 374.242    1496.968   384.276
19| 3325.974   13303.9    3298.074
..

In [10]:
/Calculate the average Impact Cost across all stock universie for each strategy
IC: select avg IC_TWAP_10, avg IC_TWAP_20, avg IC_VWAP_10 from IC_tbl
IC

IC_TWAP_10 IC_TWAP_20 IC_VWAP_10
--------------------------------
1260.103   5040.413   1223.051

### 2.5

P&L for each stock follows wealth equation: 
$$ 
\begin{align}
PL &= \sum_{N} Q_{n-1}\Delta_n S - (P_{n-1} + 1/2\Delta_{n}I - S_{n-1}) * Q\\
   &= -IC + \sum_{N} Q_{n-1}\Delta_n S\\
\end{align}
$$
Here S is adj_price and Q is trade: TWAP_10, TWAP_20, VWAP_10

In [11]:
PL_tbl: select PL_TWAP_10: (neg last IC_TWAP_10) + sum (1 xprev sums TWAP_10) * (deltas adj_p), 
               PL_TWAP_20: (neg last IC_TWAP_20) + sum (1 xprev sums TWAP_20) * (deltas adj_p), 
               PL_VWAP_10: (neg last IC_VWAP_10) + sum (1 xprev sums VWAP_10) * (deltas adj_p), last adv, first adj_p 
            by id from IC_tbl

PL_tbl

id| PL_TWAP_10    PL_TWAP_20    PL_VWAP_10    adv          adj_p
--| --------------------------------------------------------------
0 | -7891535      -1.578979e+07 -9268189      1.122415e+08 91.715
1 | -1992323      -3986378      -2401699      3.607207e+07 71.075
2 | -304490.5     -609878.5     -247643.7     1.38682e+07  44.15
3 | -201442.2     -403630.8     -201335.8     1.192783e+07 60.55
4 | -72147.09     -145285.8     -111040.9     2.019054e+07 51.07
5 | -106998.6     -214546.5     -96305.88     7931115      89.26
6 | -610545.8     -1222233      -623465       1.790894e+07 74.11
7 | -54423.89     -109409.6     -53741.18     9922401      14.66
8 | -6.499172e+07 -1.299869e+08 -5.097454e+07 3.452761e+07 835.68
9 | -1511281      -3024226      -1413493      1.862319e+07 51.455
10| -4.825846e+07 -9.652518e+07 -4.355535e+07 8.626539e+07 305.49
11| -5347013      -1.069703e+07 -4866449      5.807214e+07 108.3
12| -948049.9     -1897638      -774795.9     2.996236e+07 67.015
13| -1517818      -3036621      -1198468      1.538175e+07 66.1
14| -8.026742e+07 -1.606026e+08 -7.925849e+07 9.883369e+08 143.965
15| -1177120      -2357887      -1107397      7.305665e+07 29.505
16| -4408824      -8841719      -3945615      1.933401e+08 18.37
17| -361639       -724018.3     -333231.9     8571269      17.625
18| -317909.6     -636567.8     -280734.7     8691514      32.785
19| -3675434      -7357519      -3352388      1.143187e+08 42.345
..

In [12]:
/Compare three strategy
PL_tbl2: select PL1: sum PL_TWAP_10,
                PL2: sum PL_TWAP_20,
                PL3: sum PL_VWAP_10 from PL_tbl
PL_tbl2

PL1           PL2           PL3
-----------------------------------------
-5.030089e+09 -1.006144e+10 -4.532838e+09

### Simple Comparison with buying all shares in the begining with adj_p

In [13]:
/Compare strategy with buying all shares in the begining with adj_p for each stock
PL: select PL1: PL_TWAP_10 % (0.1*adv*adj_p),
           PL2: PL_TWAP_20 % (0.2*adv*adj_p),
           PL3: PL_VWAP_10 % (0.1*adv*adj_p) by id from PL_tbl

PL

id| PL1           PL2           PL3
--| ----------------------------------------
0 | -0.00766598   -0.007669243  -0.009003287
1 | -0.007770908  -0.007774287  -0.009367653
2 | -0.004973051  -0.004980381  -0.004044609
3 | -0.002789169  -0.002794336  -0.002787695
4 | -0.0006996889 -0.0007044973 -0.001076885
5 | -0.001511426  -0.001515306  -0.001360385
6 | -0.004600146  -0.004604446  -0.004697485
7 | -0.00374144   -0.003760752  -0.003694507
8 | -0.02252431   -0.02252491   -0.01766635
9 | -0.01577115   -0.01577984   -0.01475068
10| -0.01831217   -0.01831374   -0.01652753
11| -0.008501881  -0.008504272  -0.007737772
12| -0.004721535  -0.004725365  -0.003858685
13| -0.01492837   -0.01493322   -0.01178743
14| -0.005641276  -0.005643657  -0.005570367
15| -0.005460913  -0.005469374  -0.005137453
16| -0.01241343   -0.01244731   -0.01110922
17| -0.02393872   -0.02396323   -0.02205831
18| -0.01115663   -0.01116976   -0.009852023
19| -0.00759258   -0.00759945   -0.006925243
..

In [14]:
PL2: select PL1: sum PL_TWAP_10 % sum(0.1*adv*adj_p),
           PL2: sum PL_TWAP_20 % sum (0.2*adv*adj_p),
           PL3: sum PL_VWAP_10 % sum (0.1*adv*adj_p) from PL_tbl

PL2

PL1         PL2         PL3
-----------------------------------
-0.01188275 -0.01188425 -0.01070808

# TRADE: DOLLAR

In [11]:
shares_tbl: update 
               share_TWAP_10: TWAP_10 % adj_p, 
               share_TWAP_20: TWAP_10 % adj_p, 
               share_VWAP_10: TWAP_10 % adj_p
            from IC_tbl

select share_TWAP_10, share_TWAP_20, share_VWAP_10 from shares_tbl

share_TWAP_10 share_TWAP_20 share_VWAP_10
-----------------------------------------
52.27712      52.27712      52.27712
52.27045      52.27045      52.27045
52.3493       52.3493       52.3493
52.31051      52.31051      52.31051
52.34127      52.34127      52.34127
52.35198      52.35198      52.35198
52.36404      52.36404      52.36404
52.34797      52.34797      52.34797
52.34663      52.34663      52.34663
52.3386       52.3386       52.3386
52.37208      52.37208      52.37208
52.36136      52.36136      52.36136
52.21716      52.21716      52.21716
52.20518      52.20518      52.20518
52.10038      52.10038      52.10038
52.10699      52.10699      52.10699
51.98029      51.98029      51.98029
52.0119       52.0119       52.0119
51.90935      51.90935      51.90935
51.96056      51.96056      51.96056
..

In [16]:
PL_tbl222: select 
               PL_TWAP_10: (neg last IC_TWAP_10) + sum (1 xprev sums share_TWAP_10) * (deltas adj_p), 
               PL_TWAP_20: (neg last IC_TWAP_20) + sum (1 xprev sums share_TWAP_20) * (deltas adj_p), 
               PL_VWAP_10: (neg last IC_VWAP_10) + sum (1 xprev sums share_VWAP_10) * (deltas adj_p), 
               last adv, first adj_p 
            by id from shares_tbl

PL_tbl222: update p_1: PL_TWAP_10 % (0.1*adv),
                  p_2: PL_TWAP_20 % (0.2*adv),
                  p_3: PL_VWAP_10 % (0.1*adv) from PL_tbl222
select id, p_1, p_2, p_3 from PL_tbl222

In [21]:
PL_tbl222_total: select p1_t: sum PL_TWAP_10 %(0.1* sum adv),
                       p2_t: sum PL_TWAP_20 %(0.2* sum adv),
                       p3_t: sum PL_VWAP_10 %(0.1* sum adv) from PL_tbl222
PL_tbl222_total

p1_t         p2_t         p3_t
--------------------------------------
-0.008754062 -0.004905382 -0.008743705