## Junyu Sui Js6130

In [1]:
\l /Users/suijunyu/Desktop/5440/week5/columbiaHdb

time: 2019.01.03
tbl: select from bin10 where date = time

tbl

date       time     id trade     mid      spread       vol         adv
-------------------------------------------------------------------------------
2019.01.03 09:30:00 0  454071.8  91.715   0.001148717  0.000446367 1.122415e+08
2019.01.03 09:30:10 0  -171833.3 91.72671 0.001072136  0.000446367 1.122415e+08
2019.01.03 09:30:20 0  -301.2193 91.58853 7.658112e-05 0.000446367 1.122415e+08
2019.01.03 09:30:30 0  -78884.65 91.65646 0.000612649  0.000446367 1.122415e+08
2019.01.03 09:30:40 0  -24705.54 91.60259 0.0008423923 0.000446367 1.122415e+08
2019.01.03 09:30:50 0  -92166.19 91.58385 0.0005871219 0.000446367 1.122415e+08
2019.01.03 09:31:00 0  -22823.01 91.56276 0.000663703  0.000446367 1.122415e+08
2019.01.03 09:31:10 0  -4940.182 91.59088 0.0005615949 0.000446367 1.122415e+08
2019.01.03 09:31:20 0  -41691.88 91.59322 0.0005360678 0.000446367 1.122415e+08
2019.01.03 09:31:30 0  -539826.4 91.60727 0.0007402842 0.000446367 1.122415e+08
2019.01.03 09:31:40 0  -53883.89 91.5487  0.0004594867 0.000446367 1.122415e+08
2019.01.03 09:31:50 0  316896.2  91.56745 0.0003063245 0.000446367 1.122415e+08
2019.01.03 09:32:00 0  8767.784  91.82033 0.0004594867 0.000446367 1.122415e+08
2019.01.03 09:32:10 0  132407.8  91.84138 0.000638176  0.000446367 1.122415e+08
2019.01.03 09:32:20 0  -52051.64 92.02614 0.0005615949 0.000446367 1.122415e+08
2019.01.03 09:32:30 0  441082.8  92.01445 0.0004339597 0.000446367 1.122415e+08
2019.01.03 09:32:40 0  -182.6154 92.23874 0.000638176  0.000446367 1.122415e+08
2019.01.03 09:32:50 0  4196.414  92.18269 0.0002807974 0.000446367 1.122415e+08
2019.01.03 09:33:00 0  112899.5  92.36479 0.0007402842 0.000446367 1.122415e+08
2019.01.03 09:33:10 0  -51038.96 92.27376 0.000612649  0.000446367 1.122415e+08
..

In [2]:
count tbl where any each null tbl

810

In [3]:
tbl: update reverse fills reverse date,
 reverse fills reverse mid,
 reverse fills reverse spread,
 reverse fills reverse vol,
 reverse fills reverse adv
 by id from tbl

count tbl where any each null tbl

0

### Q1

In [4]:
computeImpact: {[trade; adv; vol; h] 
                beta: (log 2) % (h*60);
                lamda: 1;
                dt: 10 /here is the time interval
                dvol: vol * sqrt 2340;
                :(neg count trade)#ema[beta * dt; (0, lamda * dvol * trade % (beta * dt * adv))];}

In [5]:
tbl_test: select from tbl where id = 0
trade_test: tbl_test`trade 
adv_test: tbl_test`adv
vol_test: tbl_test`vol
h: 1
computeImpact[trade_test;adv_test;vol_test;h]

8.735165e-05 4.420411e-05 3.903951e-05 1.935412e-05 1.236554e-05 -6.793367e-0..

### Q2

In [6]:
h: 1, 5, 30, 60
tbl2: ([]h:h) cross tbl
cols tbl2
tbl2

`h`date`time`id`trade`mid`spread`vol`adv

h date       time     id trade     mid      spread       vol         adv     ..
-----------------------------------------------------------------------------..
1 2019.01.03 09:30:00 0  454071.8  91.715   0.001148717  0.000446367 1.122415..
1 2019.01.03 09:30:10 0  -171833.3 91.72671 0.001072136  0.000446367 1.122415..
1 2019.01.03 09:30:20 0  -301.2193 91.58853 7.658112e-05 0.000446367 1.122415..
1 2019.01.03 09:30:30 0  -78884.65 91.65646 0.000612649  0.000446367 1.122415..
1 2019.01.03 09:30:40 0  -24705.54 91.60259 0.0008423923 0.000446367 1.122415..
1 2019.01.03 09:30:50 0  -92166.19 91.58385 0.0005871219 0.000446367 1.122415..
1 2019.01.03 09:31:00 0  -22823.01 91.56276 0.000663703  0.000446367 1.122415..
1 2019.01.03 09:31:10 0  -4940.182 91.59088 0.0005615949 0.000446367 1.122415..
1 2019.01.03 09:31:20 0  -41691.88 91.59322 0.0005360678 0.000446367 1.122415..
1 2019.01.03 09:31:30 0  -539826.4 91.60727 0.0007402842 0.000446367 1.122415..
1 2019.01.03 09:31:40 0  -53883.89 91.5487  0.0004594867 0.000446367 1.122415..
1 2019.01.03 09:31:50 0  316896.2  91.56745 0.0003063245 0.000446367 1.122415..
1 2019.01.03 09:32:00 0  8767.784  91.82033 0.0004594867 0.000446367 1.122415..
1 2019.01.03 09:32:10 0  132407.8  91.84138 0.000638176  0.000446367 1.122415..
1 2019.01.03 09:32:20 0  -52051.64 92.02614 0.0005615949 0.000446367 1.122415..
1 2019.01.03 09:32:30 0  441082.8  92.01445 0.0004339597 0.000446367 1.122415..
1 2019.01.03 09:32:40 0  -182.6154 92.23874 0.000638176  0.000446367 1.122415..
1 2019.01.03 09:32:50 0  4196.414  92.18269 0.0002807974 0.000446367 1.122415..
1 2019.01.03 09:33:00 0  112899.5  92.36479 0.0007402842 0.000446367 1.122415..
1 2019.01.03 09:33:10 0  -51038.96 92.27376 0.000612649  0.000446367 1.122415..
..

### Q3

In [7]:
tbl3: update Impact:computeImpact[trade;adv;vol; first h] by h, id from tbl2
cols tbl3
tbl3

`h`date`time`id`trade`mid`spread`vol`adv`Impact

h date       time     id trade     mid      spread       vol         adv     ..
-----------------------------------------------------------------------------..
1 2019.01.03 09:30:00 0  454071.8  91.715   0.001148717  0.000446367 1.122415..
1 2019.01.03 09:30:10 0  -171833.3 91.72671 0.001072136  0.000446367 1.122415..
1 2019.01.03 09:30:20 0  -301.2193 91.58853 7.658112e-05 0.000446367 1.122415..
1 2019.01.03 09:30:30 0  -78884.65 91.65646 0.000612649  0.000446367 1.122415..
1 2019.01.03 09:30:40 0  -24705.54 91.60259 0.0008423923 0.000446367 1.122415..
1 2019.01.03 09:30:50 0  -92166.19 91.58385 0.0005871219 0.000446367 1.122415..
1 2019.01.03 09:31:00 0  -22823.01 91.56276 0.000663703  0.000446367 1.122415..
1 2019.01.03 09:31:10 0  -4940.182 91.59088 0.0005615949 0.000446367 1.122415..
1 2019.01.03 09:31:20 0  -41691.88 91.59322 0.0005360678 0.000446367 1.122415..
1 2019.01.03 09:31:30 0  -539826.4 91.60727 0.0007402842 0.000446367 1.122415..
1 2019.01.03 09:31:40 0  -53883.89 91.5487  0.0004594867 0.000446367 1.122415..
1 2019.01.03 09:31:50 0  316896.2  91.56745 0.0003063245 0.000446367 1.122415..
1 2019.01.03 09:32:00 0  8767.784  91.82033 0.0004594867 0.000446367 1.122415..
1 2019.01.03 09:32:10 0  132407.8  91.84138 0.000638176  0.000446367 1.122415..
1 2019.01.03 09:32:20 0  -52051.64 92.02614 0.0005615949 0.000446367 1.122415..
1 2019.01.03 09:32:30 0  441082.8  92.01445 0.0004339597 0.000446367 1.122415..
1 2019.01.03 09:32:40 0  -182.6154 92.23874 0.000638176  0.000446367 1.122415..
1 2019.01.03 09:32:50 0  4196.414  92.18269 0.0002807974 0.000446367 1.122415..
1 2019.01.03 09:33:00 0  112899.5  92.36479 0.0007402842 0.000446367 1.122415..
1 2019.01.03 09:33:10 0  -51038.96 92.27376 0.000612649  0.000446367 1.122415..
..

In [8]:
select Impact from tbl3 where id = 0, h=1

Impact
-------------
8.735165e-05
4.420411e-05
3.903951e-05
1.935412e-05
1.236554e-05
-6.793367e-06
-1.039912e-05
-1.014813e-05
-1.699621e-05
-0.0001188813
-0.0001155135
-4.120623e-05
-3.47592e-05
-5.271829e-06
-1.467619e-05
7.187218e-05
6.353405e-05
5.700159e-05
7.213544e-05
5.398345e-05
..

### Q4

In [9]:
dt: 1, 15, 60
tbl4: ([]dt:dt) cross tbl3

tbl4: update Return: (neg 1) + xprev[-6*dt; mid] % mid,
             dI: xprev[-6*dt; Impact] + (neg Impact) 
             by dt, h, id from tbl4;

cols tbl4
tbl4

`dt`h`date`time`id`trade`mid`spread`vol`adv`Impact`Return`dI

dt h date       time     id trade     mid      spread       vol         adv  ..
-----------------------------------------------------------------------------..
1  1 2019.01.03 09:30:00 0  454071.8  91.715   0.001148717  0.000446367 1.122..
1  1 2019.01.03 09:30:10 0  -171833.3 91.72671 0.001072136  0.000446367 1.122..
1  1 2019.01.03 09:30:20 0  -301.2193 91.58853 7.658112e-05 0.000446367 1.122..
1  1 2019.01.03 09:30:30 0  -78884.65 91.65646 0.000612649  0.000446367 1.122..
1  1 2019.01.03 09:30:40 0  -24705.54 91.60259 0.0008423923 0.000446367 1.122..
1  1 2019.01.03 09:30:50 0  -92166.19 91.58385 0.0005871219 0.000446367 1.122..
1  1 2019.01.03 09:31:00 0  -22823.01 91.56276 0.000663703  0.000446367 1.122..
1  1 2019.01.03 09:31:10 0  -4940.182 91.59088 0.0005615949 0.000446367 1.122..
1  1 2019.01.03 09:31:20 0  -41691.88 91.59322 0.0005360678 0.000446367 1.122..
1  1 2019.01.03 09:31:30 0  -539826.4 91.60727 0.0007402842 0.000446367 1.122..
1  1 2019.01.03 09:31:40 0  -53883.89 91.5487  0.0004594867 0.000446367 1.122..
1  1 2019.01.03 09:31:50 0  316896.2  91.56745 0.0003063245 0.000446367 1.122..
1  1 2019.01.03 09:32:00 0  8767.784  91.82033 0.0004594867 0.000446367 1.122..
1  1 2019.01.03 09:32:10 0  132407.8  91.84138 0.000638176  0.000446367 1.122..
1  1 2019.01.03 09:32:20 0  -52051.64 92.02614 0.0005615949 0.000446367 1.122..
1  1 2019.01.03 09:32:30 0  441082.8  92.01445 0.0004339597 0.000446367 1.122..
1  1 2019.01.03 09:32:40 0  -182.6154 92.23874 0.000638176  0.000446367 1.122..
1  1 2019.01.03 09:32:50 0  4196.414  92.18269 0.0002807974 0.000446367 1.122..
1  1 2019.01.03 09:33:00 0  112899.5  92.36479 0.0007402842 0.000446367 1.122..
1  1 2019.01.03 09:33:10 0  -51038.96 92.27376 0.000612649  0.000446367 1.122..
..

In [10]:
select Return: Return
       by id, h from tbl4

id h | Return                                                                ..
-----| ----------------------------------------------------------------------..
0  1 | -0.0016599   -0.001480802 5.115684e-05 -0.0005366369 -0.0005882589 -0...
0  5 | -0.0016599   -0.001480802 5.115684e-05 -0.0005366369 -0.0005882589 -0...
0  30| -0.0016599   -0.001480802 5.115684e-05 -0.0005366369 -0.0005882589 -0...
0  60| -0.0016599   -0.001480802 5.115684e-05 -0.0005366369 -0.0005882589 -0...
1  1 | -0.002970581 -0.002220901 -0.001637077 -0.001100165  -0.003886232  -0...
1  5 | -0.002970581 -0.002220901 -0.001637077 -0.001100165  -0.003886232  -0...
1  30| -0.002970581 -0.002220901 -0.001637077 -0.001100165  -0.003886232  -0...
1  60| -0.002970581 -0.002220901 -0.001637077 -0.001100165  -0.003886232  -0...
2  1 | 0            0            0            0             0             0.0..
2  5 | 0            0            0            0             0             0.0..
2  30| 0            0            0            0             0             0.0..
2  60| 0            0            0            0             0             0.0..
3  1 | 0.002029276  0.002029276  0.002723185  0.00470407    0.00470407    0.0..
3  5 | 0.002029276  0.002029276  0.002723185  0.00470407    0.00470407    0.0..
3  30| 0.002029276  0.002029276  0.002723185  0.00470407    0.00470407    0.0..
3  60| 0.002029276  0.002029276  0.002723185  0.00470407    0.00470407    0.0..
4  1 | 0.0005542565 0.0005542565 0.004432466  0.003126848   0.003126848   0.0..
4  5 | 0.0005542565 0.0005542565 0.004432466  0.003126848   0.003126848   0.0..
4  30| 0.0005542565 0.0005542565 0.004432466  0.003126848   0.003126848   0.0..
4  60| 0.0005542565 0.0005542565 0.004432466  0.003126848   0.003126848   0.0..
..

In [11]:
select dI: dI
       by id, h from tbl4

id h | dI                                                                    ..
-----| ----------------------------------------------------------------------..
0  1 | -9.775077e-05 -5.435224e-05 -5.603572e-05 -0.0001382355 -0.000127879  ..
0  5 | -8.128839e-05 -4.730432e-05 -5.417385e-05 -0.0001415954 -0.000143937  ..
0  30| -7.625023e-05 -4.385069e-05 -5.164432e-05 -0.0001401187 -0.0001451923 ..
0  60| -7.571014e-05 -4.345846e-05 -5.133727e-05 -0.0001399117 -0.0001452554 ..
1  1 | -0.000192302  -0.0001831238 -0.0001794421 -0.0002722343 -0.0002436113 ..
1  5 | -0.0001844908 -0.0001932655 -0.0002062737 -0.00031503   -0.000310578  ..
1  30| -0.0001823098 -0.0001946451 -0.0002113692 -0.0003240775 -0.0003256563 ..
1  60| -0.0001820805 -0.0001947673 -0.0002118659 -0.0003249801 -0.0003271812 ..
2  1 | 0             0             0             0             -2.966144e-05 ..
2  5 | 0             0             0             0             -2.966144e-05 ..
2  30| 0             0             0             0             -2.966144e-05 ..
2  60| 0             0             0             0             -2.966144e-05 ..
3  1 | 0             0             0             1.325712e-05  1.172559e-05  ..
3  5 | 0             0             0             1.325712e-05  1.295081e-05  ..
3  30| 0             0             0             1.325712e-05  1.320607e-05  ..
3  60| 0             0             0             1.325712e-05  1.323159e-05  ..
4  1 | 0             0             -2.394607e-05 -2.117971e-05 -1.873293e-05 ..
4  5 | 0             0             -2.394607e-05 -2.33928e-05  -2.285231e-05 ..
4  30| 0             0             -2.394607e-05 -2.385386e-05 -2.3762e-05   ..
4  60| 0             0             -2.394607e-05 -2.389996e-05 -2.385394e-05 ..
..

### Q5

In [12]:
tbl5: select covariance: avg(Return * dI),
             variance: avg(dI * dI)
             by id, h, dt from tbl4

tbl5

id h  dt| covariance    variance
--------| --------------------------
0  1  1 | 2.862051e-08  3.324186e-09
0  1  15| 1.130057e-07  8.712316e-09
0  1  60| 3.250494e-08  8.334135e-09
0  5  1 | 3.940849e-08  4.23512e-09
0  5  15| 6.08928e-07   6.097563e-08
0  5  60| 5.113462e-07  8.64967e-08
0  30 1 | 4.480727e-08  4.948063e-09
0  30 15| 1.636253e-06  1.942711e-07
0  30 60| 4.337882e-06  6.707e-07
0  60 1 | 4.563287e-08  5.127212e-09
0  60 15| 1.830515e-06  2.344993e-07
0  60 60| 5.277882e-06  9.144533e-07
1  1  1 | 8.012989e-09  8.963591e-10
1  1  15| -2.624814e-09 1.819477e-09
1  1  60| -1.03458e-08  2.405875e-09
1  5  1 | 1.383517e-08  1.196597e-09
1  5  15| -3.083404e-08 1.142319e-08
1  5  60| -1.351014e-07 1.787604e-08
1  30 1 | 1.434733e-08  1.355359e-09
1  30 15| -1.292557e-07 3.422101e-08
..